.App {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.Header {
  height: 15%;
  width: 100%;
  background-color: rgb(48, 155, 243);
}

.Header > a {
  position: absolute;
  color: black;
  font-size: 1.25rem;
  font-weight: bolder;
  padding: 30px;
  margin-left: 40px;
  text-decoration: none;
}

.Footer {
  display: flex;
	flex-direction: row;
	justify-content: space-between;
  align-items: flex-start;
  height: 30%;
  width: 100%;
  background:black;
}

.changePage {
  color:white;
  border: none;
  background-color: black;
  font-size: 1.25rem;
  padding:10px;
  margin:0 70px;
}

.alterPage {
  color: white;
  font-weight: bolder;
  background-color: rgb(48, 155, 243);
  padding:10px 15px;
  margin-top: 5px;
  border-radius: 30%;
  border:none;
}

#alterLeft{
  margin-left: 250px;
}

#alterRight{
  margin-right: 250px;
}

.List {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  height:50vh;
  width:90%;
  margin: 10vh auto 0;
}

#Counter {
  position: absolute;
  right:75px;
  color: black;
  font-size: 1.5rem;
  font-weight: bolder;
  margin: 10px 0;
}

#Name {
  padding-left: 80px;
  text-decoration: underline rgb(48, 155, 243);
}

.info {
  padding-left: 80px;
  font-weight: bolder;
}

#favMovies {
  padding-top: 1rem;
}

.movieList {
  list-style-type: decimal;
  font-weight: normal;
}